.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

/.quarto/
/_site/

*.dat
results/

*.Rproj

lectures/00-course-intro/*_cache
lectures/00-course-intro/*_files
lectures/00-course-intro/*.html
lectures/06-ml-paradigms-part01/*.png
lectures/07-ml-paradigms-part02/*.png
lectures/12-programming-in-python/*_cache
lectures/12-programming-in-python/*_files
lectures/12-programming-in-python/*.html
**/*.quarto_ipynb
